<% body_class 'signup' %>
		
			<!-- LEFT CONTENT -->
			<div class="content-left noshadow">
			
				<h1>United States Only</h1>
				
				<div class="stripes-box">			
					<p>
						Tatango is always looking to expand its services globally. Please <a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">contact us</a> to put in a request for your country.
					</p>
				</div>
				
			</div>
			<!-- #END of left content -->
