<% body_class 'signup' %>
	
			<!-- LEFT CONTENT -->
			<div class="content-left noshadow" style="margin-top:35px">
			
				<h1>Thanks for signing up. You're almost done!</h1>
				
				<div class="stripes-box">			
					<h2>Check your e-mail to finish creating your account.</h2>
					<p>
						We've just sent you an email containing an email activation link.<br />
						Click the link in your email to complete the sign up process.
					</p>
					<h2>If you do not recieve the e-mail:</h2>
					<ol>
						<li><p>Check your spam or junk folders. It is possible that your email was automatically<br /> filtered out of your inbox.</p></li>
						<li><p>Click this link to <%= link_to 'sign up again', @account.source == "squeeze" ? free_trial_path : signup_path %>.</a></p></li>
						<li><p>If you still do not receive the email, <%= link_to 'please contact support', contact_path %>.</a></p></li>
					</ol>
				</div>
				
			</div>
			<!-- #END of left content -->
