<% title 'Login' %>

<%= form_tag session_path do -%>
  <ul>
    <li>
      <label style="font-size: 0.75em;">Your username &amp; a temporary reset password link have been sent to your email.</label>
    </li>

	</ul>
<% end %>
<script type="text/javascript">
  $('#username').focus();
</script>
