<%= javascript_include_tag 'ufo' %>
<%= javascript_include_tag :defaults %>
<% if !@video.videofile.blank? %>
<%= media_player({:file =>  url_for_file_column('video', "videofile")}, {:width =>522,:height => 392,:autostart => false} )%>		
<% end %>