

 <select  id="state" name="state" class="story_select_story">
 <option value="">State/Province</option>
 <%= options_from_collection_for_select @states, "id", "name" %>
                                                                                                    
 </select>
