<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<% if @page_title %>
<title>UNCHARTED - <%= @page_title %></title>
<% else %>
<title>UNCHARTED</title>
<% end %>




<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'style11' , 'myworld_style' %>
<%= javascript_include_tag 'field_sets' %>
<%#= javascript_include_tag 'ufo' %>
<%#= stylesheet_link_tag 'njquery' %>
<%= javascript_include_tag 'profile_image' %>   <!--validation for profile image update-->
<%= javascript_include_tag 'validations' %>

<%= javascript_include_tag 'login_dropdown' %>

<%= javascript_include_tag 'home' %>

<% if params[:controller] == "account" && ( params[:action] == 'edit' || params[:action] == 'update' ) %>
<%= javascript_include_tag 'user_profile_edit' %>
<% end %>


<!--google map API key-->
<script src="http://maps.google.com/maps?file=api&v=2&markers=21.796875,31.952162,blues|21.796875,31.952162,tinygreen&key=ABQIAAAALHXVqR3ivZP4lPuASHGUbRRxI6gS_yiE9yY2PwSnUHXXLgJkihRW61pIbuWHVb-9kU-NwqDke2W2iw" 
    type="text/javascript">
</script>
	
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAALHXVqR3ivZP4lPuASHGUbRRxI6gS_yiE9yY2PwSnUHXXLgJkihRW61pIbuWHVb-9kU-NwqDke2W2iw" 
    type="text/javascript">
</script>
<!--google map API key-->


<script>
window.onload=function()
{

tab_image(document.getElementById('image_tab').value);

<% if session[:user_id].blank? %>
first_div();
<% end %>

<% if params[:controller] == 'share/events' %>
event_fileds();

<% elsif params[:controller] == 'share/videos' %>

             <% if params[:action] == 'index' || params[:action] == 'edit_videoset' || params[:action] == 'new_videoset' || params[:action] == 'update_videoset' %>
             video_fileds();			 
			 <% elsif params[:action] == 'add_video_to_set' || params[:action] == 'add_video' %>
			<!-- photoset_linkset_fields();-->
			 
			 <% elsif params[:action] == 'add_tag' || params[:action] == 'display_geo_location' %>
			  initialize();
			  video_fileds_create();
			  
			 <% elsif params[:action] == 'send_invitation'  %>
			  photo_invitation();
			  
			 <% end %>

<% elsif params[:controller] == 'share/photos' %>

            <% if params[:action] == 'index' || params[:action] == 'edit_photoset' ||  params[:action] == 'new_photoset' || params[:action] == 'update_photoset' %>
			
            photo_fileds();
 
            <% elsif params[:action] == 'add_photo_to_set' || params[:action] == 'add_photo' %>
             <!--photoset_linkset_fields();-->
 
 
             <% elsif params[:action] == 'add_tag' || params[:action] == 'display_geo_location' ||  params[:action] == 'update_taglocation' %>
              initialize();
              photo_fileds_create();


             <% elsif params[:action] == 'send_invitation' %>
              photo_invitation();


             <% end %>

<% elsif params[:controller] == 'share/travelogs' %>

            <% if  params[:action] == 'index' || params[:action] == 'set_location' || params[:action] == 'edit_travelog' || params[:action] == 'edit_location' %>				
			travelog_fileds();
			maplocation();
			
			<% elsif params[:action] == 'add_tag' %>
			
			travelog_tag_fields();
			
			<% end %>






<!--conditions for stories module-->
<% elsif params[:controller] == 'share/stories' %>


            <% if  params[:action] == 'index' || params[:action] == 'set_location' || params[:action] == 'edit_story' || params[:action] == 'edit_location' %>		
			document.getElementById('title').focus();	
			document.getElementById('googlelocation').value = 0;	
			maplocation();
			story_fields();
			<% end %>

           <% if params[:action] == 'map' %>
            initialize();
			geo_fileds();
			<% end %>
                
			<% if params[:action] == 'add_tag' %>
			story_tag_fields();
			<% end %>
			
			<% if params[:action] == 'publish' %>
			story_write_fields();
			<% end %>



<% elsif params[:controller] == 'share/reviews' %>

review_fileds();

            <% if  params[:action] == 'index' || params[:action] == 'set_location' || params[:action] == 'edit_review' || params[:action] == 'edit_location' %>				
			maplocation();
			review_fileds();
			<% end %>


			<% if params[:action] == 'add_tag' %>
		  story_tag_fields();
			<% end %>
			
			<% if params[:action] == 'publish' %>
			<!--story_write_fields();-->
			<% end %>





			

<% elsif params[:controller] == 'myworld/stories' %>
 
   		 	<% if params[:action] == 'preview' %>
			<% if @story.added_videos.blank? && !@story.added_images.blank? %>
  		 	 startPix();
			 <% end %>
 		    <% end %>
			
<% elsif params[:controller] == 'account' %>
       <!--   latlongload();	-->		
			
			

<% end %>
}
 </script>
 
<!-- end fo all onload functions-->




</head>
<body>
<!--main-->
<%= hidden_field_tag 'image_tab', 'myworld', :id => 'image_tab' %>


        <div style="width:95%; height:auto; margin:20px 0px 0px 20px;  padding:0px;" align="center" >
		<div style="width:728px; height:90px; margin:20px 0px 0px 20px;" align="center">
			<%= render :partial => 'shared/adverticements', :locals => { :ad_id => 17} %>	
		</div>
</div>



<div id="main">
<!--header-->
<%= render :partial => 'shared/header' %>
<!--header-div-end-->





<!--content start-->

<div class="content">

 <!--menu-->
    <div id="default"> 
	  <% if params[:controller] == 'account' || params[:controller] == 'stories' || params[:controller] == 'photos' || params[:controller] == 'myworld/stories' || params[:controller] == 'myworld/friends' || params[:controller] == 'myworld/map' || params[:controller] == 'myworld/latest' || params[:controller] == 'myworld/reviews' || params[:controller] == 'myworld/photos' || params[:controller] == 'myworld/videos' %>
  <%= render :partial => 'shared/account_menu'%>
  <% elsif params[:controller] == 'share/photos' || params[:controller] == 'share/videos' || params[:controller] == 'share/events' || params[:controller] =='share/reviews' || params[:controller] == 'share/stories' || params[:controller] == 'share/travelogs'%>
  <%= render :partial => 'shared/share_menu'%>
  <% end %>
	 </div>
	 
    <div id="go" style="display:none;">
	 <%= render :partial => 'shared/go_menu'%>
	  </div>
	  
    <div id="see" style="display:none;">
	 <%= render :partial => 'shared/see_menu'%>
	  </div>
	  
    <div id="do" style="display:none;"> 
	<%= render :partial => 'shared/do_menu'%> 
	</div>
	
	
	 <div id="share" style="display:none;">
	 <%= render :partial => 'shared/share_menu'%>
	 </div>
	 
    <div  style="clear:both;"></div>
	
    <!--menu-div-end-->


  <div style="clear:both;" ></div>
  

<% if params[:controller] == 'myworld/friends' || params[:controller] == 'myworld/photos' || params[:controller] == 'myworld/videos'%>
<div class="black_top3">
<% else %>
   <div class="content_new" >
<% end %>
  
  
      <div class="left_bar1" >
        <% if flash[:notice] %>
        <div align="center" style="font-family:Arial, Helvetica, sans-serif;padding-top:5px;font-size:15px;color:#AB0300;height:18px;text-align:center;"> <%= flash[:notice]  %> </div>
        <% end %>
		
		
        <%= yield %>
		</div>
		
		
 
      <!--right block-->
        <% if session[:user_id].blank? %>
        <%= render :partial => "/shared/right_block"%>
        <% else %>
<% if params[:controller] == 'myworld/friends' || params[:controller] == 'myworld/photos' || params[:controller] == 'myworld/videos' %>		
		   <%= render :partial => "/shared/user_profile"%>	
		   <% else %>
		    <div class="right_1">
			<div class="inner_div">
			<div class="cornerbg"></div>
			<%= render :partial => "/shared/user_profile"%>		
			</div>		 
			</div>
		   <% end %>
        <% end %>
        <!--rightblock-div-end-->

	  
	  

    </div>
</div>

	
    <div style="clear:both;"></div>
	
      <!--	footer start here-->
    <div style="background-color:#444444;">
	      <%= render :partial => 'layouts/footer' %>
    </div>
	<!--	footer end here-->
	</div>

  <!--content-div-end-->
</div>

<!--main-div-end-->
<%= render :partial => 'shared/google_analytics_code' %>
</body>
</html>
