 <div class="profile_bg1">
        <div class="right_in">
          <div class="profileright_in1">
          <div class="profile_cal1">0 Tags</div>
          </div>
          <div><!--<img src="/images/home/down_arrow.jpg" alt="" class="profileright_in2" />--></div>
        </div>
        <div style="clear:both;"></div>
      </div>