<html>
<head>
<%=  stylesheet_link_tag 'error' %>
</head>
<body>
<div class="error_width" align="center">
                                        <!--main-->
                                        <div class="error_mainstart" align="center">
                                          <!--Hedder-start-->
										 
                                          <div class="fa_middilleft">
                                                <div class="fa_middiletop" align="center">
                                                  <div class=" error_height_1 fa_middiletop"></div>
												  
											
                                                  <div class="error_height">
                                                    <div class="fa_topstrip">&nbsp;</div>
                                                    <div class="error_top_space">&nbsp;</div>
													
													
                                                    <!--containt-->
                                                   <div id="error_main">
	<div id="error_sub_heading" align="left">
	<span class="error_dot">!</span> 
	<span class="error_dot_text">Something went wrong.</span> </div>
	<div id="error_msg_inf">Please check the URL for proper spelling and capitalization. If it's a problem on our side, please Leave us <a href="http://www.uncharted.net" class="error_feedback">feedback</a>, and we'll fix the problem as soon as we can.</div>
	<div class="error_parts" align="left">Until then, please explore other parts of our site:</div>
	<div id="error_ul_msg" align="left">
	<ul>
		<li><a href="http://www.uncharted.net/see/people">People</a></li>
		<li><a href="http://www.uncharted.net/see/photos">Photos</a></li>
		<li><a href="http://www.uncharted.net/see/stories">Stories</a></li>
		<li><a href="http://www.uncharted.net/see/maps">Maps</a></li>
		
		
	</ul>
	</div>
</div>
                                                  </div>
                                                  <!--containt-->
                                                
												  <div class="clear"></div>
                                                </div>
                                          </div><div class="clear"></div>
                                          <!--Hedder-end-->
										  
                                          <!--middele-->
										     <div class="fa_divmain">
                                            <div class="fa_divmain1">
                                              <!--middile-left-left-->
											  
                                              
                                              <!--middile-left-end-->
                                              <!--middile-right-->
                                            </div>
                                          </div>
                                          <!--middele-end-->
										 </div></div></body>
										 
										 </html>