<% title 'Zip Code Required' %>


<%= form_tag update_zip_account_path do -%>
  <div class="no_zip">
    Whoops! It looks like Tatango is missing your billing zip code associated with the credit card you used for your subscription. Please enter in your billing zip code below to avoid any interruption in service. Thank you!
  </div>
  <br />
  <ul>
    <li id="zip_row">
      <label for="zip">Billing Zip Code</label>
      <%= text_field_tag 'zip', nil, :tabindex => 1 %>
    </li>
    <li>
	    <%= submit_tag "" %>
    </li>
	</ul>
<% end %>
