Dear User,

Thank you for registering with Uncharted.net.

Your account has been successfully created with Uncharted.net. But You have not activated your account till now. To activate your account and to access all its amazing features click on the below URL.


Please click the link below or paste it in your browser address bar and hit enter 

    URL: <%= @url %>