Dear User,

Thank you for registering with Uncharted.net.

Your account has been successfully created with Uncharted.net.You have to activate your account to access all its amazing features.

Login Details :

   Email ID : <%= @email %>
   Password : <%= @password %>

Please click the link below or paste it in your browser address bar and hit enter 

    URL: <%= @url %>