Dear User,


<%= @sendername %> has invited you to become a member of Uncharted and to view a story.  To view, click on the link below.

<%= @url %>

Uncharted is a community of friends seeking to discover the world one journey at a time.  To become a member click on the following link:

http://www.uncharted.net/account/register

