<% title 'Not Found' %>

<!-- LEFT CONTENT -->
<div class="content-left error-bubble"><!----></div>
<!-- #END of left content -->


<!-- RIGHT CONTENT -->
<div class="content-right error-bubble">
          
  <h1 style="font-size:38px;line-height:40px;color:#ba3b11;font-family:HelveticaNeueMdCn;">Error!</h1>
  <p class="semibold" style="padding:20px 0">
    Whoa there, looks like you're experiencing an error. <br />
    Don't worry though, our team has alerted of this error <br />
    and is working on a fix as you read this.
  </p>
  <p class="semibold">
    Want to go home or contact us about this error, <br />
    click the buttons below.
  </p>
  <p class="btn-home"><a href="/">HOME</a></p>
  <p class="btn-contact"><a href="<%= contact_path %>">CONTACT</a></p>
  
</div>
<!-- #END of right content -->
