<% 
title 'Tatango CAR Terms and Conditions'
meta 'Learn about our permission only SMS marketing privacy policy that helps protect customers sensitive information.'
body_class 'wide'
%>
			
			<div class="wide-content-intro">
				<h1 class="big">Tatango CAR</h1>
				<div class="wide-title" class="regular">Please read this agreement carefully!</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content">
			
        <p>Text keyword CAR to short code 68398 to receive information about Tatango.com in the form of a standard rate text message. 1 message per query. Message and data rates may apply.</p>

        <p>For help with this program, text <b>HELP</b> to 68398.</p>

        <p>To opt-out, text <b>STOP</b> to 68398.<br />
        For additional support, please e-mail us at support@tatango.com or call 1-888-517-6345.</p>

        <p>Click here to view our <%= link_to 'Privacy Policy', privacy_policy_path %></p>

			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	<!-- #END of content -->

<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
