<%
title 'SMS Marketing Affiliate Program'
meta 'Learn how to join our SMS marketing Affiliate Program.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Affiliate Program</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow" style="padding-bottom:25px">
			
				<div class="wide-content-tour-new">
					
					<p class="affiliate_signup_btn"><a href="http://affiliates.tatango.com/signup" rel="nofollow">Affiliate Sign Up</a></p>
					<div class="tour-left-menu affiliate">
						<h2 class="title">Got a Question?</h2>
						<div class="affiliate_left">
							<h5 class="semibold">Call: 1(888)778-9414</h5>
							<h4 class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Start a Live Chat">Start a Live Chat</a></h4>
							<p class="contact-us"><a href="<%= url_for contact_path %>">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Affiliate Program</h1>
					<p class="intro border">
The Tatango SMS marketing affiliate program is finally here! Below, Tatango CEO Derek Johnson breaks down how you can become a Tatango affiliate, making you mad bank from simply referring the best text message marketing software on the planet. Below the video, you will find answers to the most frequently asked questions regarding the Tatango affiliate program. 
Sign up for the Tatango Affiliate Program <a href="http://affiliates.tatango.com/signup" rel="nofollow" title="Sign up for the Tatango Affiliate Program here">here</a>.
					</p>
					
					<div class="left-right-col ">
						
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_1c14a8fdfc" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_1c14a8fdfc_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/694a34593e596101a76cddb5fbcc425a1b534cb4.bin&&hdUrl=http://embed.wistia.com/deliveries/5bf9251afd5ba9a65546adacf325057ad288f03b.bin&stillUrl=http://embed.wistia.com/deliveries/cc214534e188c6bad237a55974470387f3704bfe.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/694a34593e596101a76cddb5fbcc425a1b534cb4.bin&hdUrl=http://embed.wistia.com/deliveries/5bf9251afd5ba9a65546adacf325057ad288f03b.bin&stillUrl=http://embed.wistia.com/deliveries/cc214534e188c6bad237a55974470387f3704bfe.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("1c14a8fdfc", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn more about the @Tatango SMS marketing affiliate program",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2 class="bigger border">FAQ</h2>
					
					<h2>How Does It Work?</h2>
					<p>
It's very simple, when you sign up for the Tatango SMS marketing affiliate program, you will receive your very own unique affiliate link. When someone clicks your link and purchases a Tatango subscription, you earn a commission.
					</p>
					<h2>What's the Commission?</h2>
					<p>
As a Tatango SMS marketing affiliate you will earn a monthly 20% commission for the life of each new customer.  <br />
Pretty good deal huh?
 					</p>
					<h2>Cost to Join?</h2>
					<p>
It's completely free to join the Tatango SMS marketing affiliate program. There are no fees, no fees in the future, no software to buy, it's completely free. 
					</p>
					<h2>Where do you sign up?</h2>
					<p>
					<a href="http://affiliates.tatango.com/signup" rel="nofollow">http://affiliates.tatango.com/signup</a>
					</p>
					<h2>Still Have Questions?</h2>
					<p>
We'd love to talk to you about the Tatango affiliate program, <a href="<%= url_for contact_path %>">contact us</a>.  
					</p>
					<h2>Bonus:</h2>
					<p>
If you have a website or blog, becoming a Tatango SMS marketing affiliate will give you access to the entire suite of Tatango web banners. Also, if you ever need a unique size or special banner ad, all you have to do is contact us and we'll make something custom for you.
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	

