<% 
title 'Anti-Spam Policy'
meta 'Tatango\'s anti spam policy restricts unsolicited SMS messages from all SMS campaigns to encourage higher quality and response.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Anti-Spam Policy</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content shadow">
			
				<div class="wide-content-2cols">
					
					<h2 class="two-title">Tatango SMS Anti-Spam Policy</h2>
					<p>
						Tatango strictly adheres to the <a href="http://mmaglobal.com/policies/education" title="Mobile Marketing Association Best Practices">Mobile Marketing Association's Best Practices</a> 
						in regards to how we operate and allow SMS campaigns to operate on the website. 
						Tatango has a <b>Zero tolerance policy for SMS spam</b>, meaning that subscribers will be assured to only receive SMS messages from campaigns that they have opted into.
					</p>
					
					<h2 class="two-title">Tatango Definition of SMS Spam</h2>
					<p>
						We consider any unwanted SMS message as Spam. <b>No if, ands, or buts about it</b>.
					</p>
					
					<h2 class="two-title">Report Abuse To Tatango</h2>
					<p>
						To report any abuse or violations of inappropriate use of our service, please contact us. We take abuse reports very serious and will immediately terminate that 
						groups account if they are found to be in violation of our Anti-Spam Policy.
					</p>
					
				</div>
				
				<div class="wide-content-2cols right">
			
					<h2 class="two-title">Report SMS Spam To Tatango</h2>
					<p>
						To report any abuse, violations or inappropriate use of Tatango, please <a href="<%= url_for contact_path %>" title="Contact us">contact us</a> immediately. 
						Tatango takes abuse reports very serious and will immediately terminate SMS campaigns that are found to be in violation of our Anti-Spam Policy.
					</p>
					
					<h2 class="two-title">Remove Yourself From A Tatango SMS Campaign</h2>
					<p>
						Tatango allows all SMS subscribers the ability to opt-out quickly, easily, and permanently from receiving future SMS messages from any SMS campaign. 
						This is done by sending the word <b>STOP to 68398</b>. Subscribers can also use the words <b>REMOVE, OPT OUT or CANCEL</b>. 
						If you need additional help unsubscribing from an SMS campaign, please <a href="<%= url_for contact_path %>" title="Contact us">contact Tatango</a>.
					</p>
					
					<h2 class="two-title">Tatango SMS Anti-Spam Policy Enforcement</h2>
					<p>
						Tatango has a <b>zero tolerance policy</b> when it comes to SMS spam. If we suspect that an SMS campaign is in violation of our Anti-Spam Policy, 
						we will terminate that campaign immediately.
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
	
<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
