<%
title 'Contact Tatango'
meta 'Contact the team behind SMS marketing software provider Tatango.'
body_class 'wide'
%>

			<div class="wide-content-intro nopadding">
				<span class="big">Contact Tatango</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content contact">
			
				<div class="wide-content-company">
					
					<div class="wide-big-title">Get in Touch</div>
					
					<p>
						Tell us a little about yourself so we can better assist you. Whether you are new to SMS marketing or a seasoned pro, we are here to help you.<br />
            <br />
						Fill out the form below and we'll get back to you within a few hours during normal business hours (Monday-Friday between 9 AM and 6 PM PST).
					</p>
					
          <%= form_tag submit_contact_path, :id => 'contact_form' do %>
            <div class="stripes-box contact">			
              <div class="form-header">
                <div class="wide-title">Contact Form</div>
              </div>
              <div class="form-content">
                <fieldset>
                  <legend>Contact Form</legend>
                  <div class="box">
                    <label for="fullname">First &amp; Last Name</label><br />
                    <input type="text" name="fullname" class="required" tabindex="1" size="22" /><span class="end"></span>
                    <div class="signupError"></div>
                  </div>
                  <div class="box">
                    <label for="business">Business/Organization</label><br />
                    <input type="text" tabindex="2" size="22" name="business" /><span class="end"></span>
                    <div class="signupError"></div>
                  </div>
                  <div class="box short">
                    <label class="short " for="phone">Phone number</label><br />
                    <input class="short required" type="text" name="phone" tabindex="3" size="22" /><span class="end"></span>
                    <div class="signupError"></div>
                  </div>
                  <div class="box short">
                    <label class="short" for="email">E-mail Address</label><br />
                    <input type="text" class="short required" name="email" tabindex="4" size="22" /><span class="end"></span>
                    <div class="signupError"></div>
                  </div>
                  <div class="box short">
                    <label class="short" for="subject">Subject</label><br />
                    <select id="subject" class="required"  name="subject" tabindex="5">
                      <option value="">Please Select</option>
                      <option>Product Feature Question</option>
                      <option>Sales/Pricing Question</option>
                      <option>Technical Support Question</option>
                      <option>Marketing/PR Question</option>
                      <option>Business/Partnership Question</option>
                      <option>HR/Employment Question</option>
                    </select>
                    <span class="end"></span>
                    <div class="signupError"></div>
                  </div>
                  <div class="box">
                    <label for="textbox">What's up?</label><br />
                    <textarea id="textbox" name="textbox" value="" tabindex="6"></textarea>
                    <div class="signupError"></div>
                  </div>
                  <div class="box semibold">
                    <input type="checkbox" name="nwsltr" id="nwsltr" checked="checked" /> Add me to your monthly newsletter
                  </div>
                  <div class="clear">&nbsp;</div>
                  <input class="submit" type="submit" value="Send Your Message" tabindex="7" name="submit" />
                </fieldset>
              </div>
            </div>
          <% end %>
					
					
				</div>
				
				<div class="wide-content-company right">
				
					<div class="contact-company">
						<div class="wide-title">Contact information</div>
						<p>
							2211 Elliott Avenue Suite 200 <br />
							Seattle, Washington 98121
						</p>
						<p>
							<b>Phone:</b> (888) 517-6345<br />
							<b>Fax:</b> 206-274-6599
						</p>
						<p>
							<b>Office Hours</b><br />
							Monday - Friday 9AM - 6PM PST
						</p>
					</div>
					
					<div class="social-btns-right">
						<ul class="social">
							<li id="tw"><a href="http://twitter.com/tatango" title="Twitter - Follow Us" target="_blank"><span>Follow Us</span></a></li>
							<li id="fb"><a href="http://www.facebook.com/tatango" title="Facebook - Become a Fan" target="_blank"><span>Become a Fan</span></a></li>
							<li id="rss"><a href="http://www.tatango.com/blog" title="Read Blog" target="_blank"><span>Read Blog</span></a></li>
						</ul>
					</div>
					
					<div class="quotes-contact">
					
						<div class="quote-box">
							<p class="qt">You're the only one that replied back with actual answers to my questions rather than a form letter pointing me to a FAQ page. Thank You, Tatango!</p>
							<p class="author">Joe Lippeatt (Organizer, Houston Photo Walks)</p>
						</div>
						<div class="quote-box last">
							<p class="qt">I have been very pleased with your quick and helpful support responses. I do appreciate the excellent service you personally have provided, even asking about how our current setup went.</p>
							<p class="author">Erick Pece (Media Pastor, Journey Church)</p>
						</div>
						<div class="quote-box">
							<p class="qt">Points to Derek Johnson and Tatango for effective email followup. Just converted a prospect into a customer.</p>
							<p class="author">Mike T. Rose (Creative Director, MJM Event Marketing)</p>
						</div>
						<div class="quote-box last">
							<p class="qt">Wow, amazing customer service at Tatango! Now I feel bad that I didnt get back to you as quickly :)</p>
							<p class="author">Miranda Bogen (Conference Organizer)</p>
						</div>
						<div class="quote-box last">
							<p class="qt">Your follow up support at Tatango has been very impressive and appreciated.</p>
							<p class="author">Jerry Hall (CEO, ShopYourBlock)</p>
						</div>
						
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->

<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
