<html>
<head>
<title>Tatango - Sherwin Williams</title>
</head>
<body>
						<h2>Sherwin Williams</h2>
								

						<p><strong>SMS Terms and Conditions</strong></p>
<p>The short code <strong>72468</strong> is used by Sherwin Williams to promote their Deals Alts campaign. You may opt-in by submitting a Zip Code to <strong>72468</strong>. <strong>5 msg/month. Message&amp;Data Rates May Apply.</strong></p>
<p><strong>For additional information, text HELP to short code 72468. You may opt-out at anytime by sending STOP to short code 72468</strong>. Contact us at 1-800-474-3794.</p>
<p>Supported carriers include AT&amp;T, U.S. Cellular, Verizon Wireless, Sprint, Virgin Mobile, Cricket, Boost, Nextel and T-Mobile.</p>
<p>Powered by Tatango, Inc.</p>
<p><a target="_blank" href="http://www.sherwin-williams.com/privacy/index.jsp">Privacy Policy</a></p>
</body>
</html>
