<h2>Tatango Info Alerts</h2>

<p><strong>SMS Terms and Conditions</strong></p>
<p>The short code <strong>33733</strong> is used by Tatango to promote their info alerts campaign. You may opt-in by submitting the keyword "TATANGO" to <strong>33733</strong>. <strong>4 msg/month. Message&amp;Data Rates May Apply.</strong></p>
<p><strong>For additional information, text "HELP" to short code 33733. You may opt-out at anytime by sending STOP to short code 33733</strong>. Contact us at (888) 517-6345</p>
<p>Supported carriers are AT&amp;T, U.S. Cellular, Verizon Wireless, Sprint, Virgin Mobile, Cricket, Boost, Nextel, and T-Mobile.</p>
<p>Powered by Tatango, Inc.</p>
<p><a target="_blank" href="http://www.tatango.com/plus/privacy-policy">Privacy Policy</a></p>
