
						<h2>Seattle’s Best Coffee</h2>
								

						<p><strong>SMS Terms and Conditions</strong></p>
<p>The short code <strong>33033</strong> is used by Seattle’s Best Coffee to promote their Delicious Deals Alts campaign. You may opt-in by submitting the keyword "COFFE" or "DEALS" to <strong>33033</strong>. <strong>8 msg/month. Message&amp;Data Rates May Apply.</strong></p>
<p><strong>For additional information, text "HELP" to short code 33033. You may opt-out at anytime by sending STOP to short code 33033</strong>. Contact us at 1-800-611-7793</p>
<p>Supported carriers are AT&amp;T, U.S. Cellular, Verizon Wireless, Sprint, Virgin Mobile, Cricket, Boost, Nextel, and T-Mobile.</p>
<p>Powered by Tatango, Inc.</p>
<p><a target="_blank" href="http://www.seattlesbest.com/privacy-policy.aspx">Privacy Policy</a></p>
												

			

