
						<h2>CBRE</h2>
								

						<p><strong>SMS Terms and Conditions</strong></p>
<p>The short code <strong>77411</strong> is used by CBRE to allow customers to query property information. . You may query a property by texting "SPARQ1" to <strong>77411</strong>. <strong>1 msg/query. Message&amp;Data Rates May Apply.</strong></p>
<p><strong>For additional information, text "HELP" to short code 77411. You may opt-out at anytime by sending STOP to short code 77411</strong>. Contact us at 1-877-227-3330</p>
<p>Supported carriers are AT&amp;T, U.S. Cellular, Verizon Wireless, Sprint, Virgin Mobile, Cricket, Boost, Nextel, and T-Mobile.</p>
<p>Powered by Tatango, Inc.</p>
<p><a target="_blank" href="http://www.cbre.com/EN/Pages/legal/privacypolicy.aspx">Privacy Policy</a></p>
												

			

