<%
title 'Sitemap'
meta 'Tatango Sitemap'
body_class 'wide' 
%>

			<div class="wide-content-intro">
				<h1 class="big">Sitemap</h1>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content">
			
				<style type="text/css">
				.sitemap { width: 270px; float: left; margin-right: 90px}
					.lastSm { margin: 20px 0 0 0;}
					.sitemap ul { margin-bottom: 30px;}
					.sitemap ul li { list-style-type: none; color: #000; }
					.sitemap ul li.title { font-size:130%;line-height:200% }
					.sitemap ul li.subtitle { font-size:110%;padding:14px 0 5px 0 }
					.sitemap ul li.subtitle.nopadding { padding-top:0 }
					.sitemap ul li a { color: #2267C3; }
					.subSm { margin-left: 20px}
				</style>
				<div class="sitemap">
					<ul>
						<li class="title">Company</li>
						<li><a href="http://www.tatango.com/">Home Page</a></li>
						<li><a href="http://www.tatango.com/anti-spam-policy">Anti Spam Policy</a></li>
						<li><a href="http://www.tatango.com/blog">Blog</a></li>
						<li><a href="http://www.tatango.com/company">Company</a></li>
						<li><a href="http://www.tatango.com/contact">Contact</a></li>
						<li><a href="http://www.tatango.com/login">Login</a></li>
						<li><a href="http://www.tatango.com/privacy-policy">Privacy Policy</a></li>
						<li><a href="http://www.tatango.com/signup">Sign Up</a></li>
						<li><a href="http://www.tatango.com/sms-marketing-newsletter">SMS Marketing Newsletter</a></li>
						<li><a href="http://www.tatango.com/sms-marketing-pricing">SMS Marketing Pricing</a></li>
						<li><a href="http://www.tatango.com/terms-conditions">Term & Conditions</a></li>
						<li><a href="http://www.tatango.com/affiliate">Affiliate Program</a></li>
					</ul>
					<ul>
						<li class="title">Customers</li>
						<li><a href="http://www.tatango.com/customers/church-sms">Church Client Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/conference-sms">Conference Client Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/customers-real-estate-sms">Real Estate Client Testominals</a></li>
						<li><a href="http://www.tatango.com/customers/emergency-sms-alerts">Emergency Alert Client Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/entertainment-sms">Entertainment Client Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/group-text-messaging">Groups & Orgainizations Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/marketing-agencies-sms">Marketing Agency Client Testimonials</a></li>
						<li><a href="http://www.tatango.com/customers/political-sms">Political Client Testemonials</a></li>
						<li><a href="http://www.tatango.com/customers/proffesional-services-sms">Professional Services Client Testemonials</a></li>
						<li><a href="http://www.tatango.com/customers/restaurant-text-messaging">Restaurant Client Testemonials</a></li>
						<li><a href="http://www.tatango.com/customers/retail-sms">Retail Client Testemonials</a></li>
						<li><a href="http://www.tatango.com/customers/salons-sms">Salon & Spa Client Testemonials</a></li>
						<li><a href="http://www.tatango.com/customers/sms-broadcasts">Customers Using SMS Broadcasts</a></li>
						<li><a href="http://www.tatango.com/customers/sms-contests">Customers Using SMS Contests</a></li>
						<li><a href="http://www.tatango.com/customers/sms-polling">Customers Using SMS Polls</a></li>
						<li><a href="http://www.tatango.com/customers/sms-autoresponders">Customers Using SMS Autoresponders</a></li>
					</ul>
					<ul>
						<li class="title">Products</li>
						<li><a href="http://www.tatango.com/products/enterprise-sms-marketing">Enterprise SMS Marketing</a></li>
						<li><a href="http://www.tatango.com/products/sms-autoresponders">SMS Autoresponders</a></li>
						<li><a href="http://www.tatango.com/products/sms-broadcasts">SMS Broadcasts</a></li>
						<li><a href="http://www.tatango.com/products/sms-contests">SMS Contests</a></li>
						<li><a href="http://www.tatango.com/products/sms-polling">SMS Polling</a></li>
					</ul>
					<ul>
						<li class="title">Enterprise</li>
						<li><a href="http://www.tatango.com/enterprise/services" title="Enterprise Services">Enterprise Services</a></li>
						<li><a href="http://www.tatango.com/enterprise/features" title="Enterprise Features">Enterprise Features</a></li>
						<li><a href="http://www.tatango.com/enterprise/sms-marketing-consulting" title="Advisory Services">Advisory Services</a></li>
						<li><a href="http://www.tatango.com/enterprise/dedicated-short-codes" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
						<li><a href="http://www.tatango.com/enterprise/agency-sms-marketing" title="Agency Program">Agency Program</a></li>
						<li><a href="http://www.tatango.com/enterprise/bulk-sms-gateway" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
						<li><a href="http://www.tatango.com/enterprise/design-services" title="Design Services">Design Services</a></li>
						<li><a href="http://www.tatango.com/enterprise/bulk-sms" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
						<li><a href="http://www.tatango.com/enterprise/advanced-segmenting" title="Advanced Segmenting">Advanced Segmenting</a></li>
						<li><a href="http://www.tatango.com/enterprise/tatango-api" title="Tatango API">Tatango API</a></li>
						<li><a href="http://www.tatango.com/enterprise/vanity-short-code" title="Vanity Short Codes">Vanity Short Codes</a></li>
						<li><a href="http://www.tatango.com/enterprise/contact-us" title="Enterprise Contact">Enterprise Contact</a></li>
					</ul>
				</div>
				<div class="sitemap">
					<ul>
						<li class="title">Resources</li>
						<li class="subSm subtitle nopadding">SMS Marketing Guides</li>
						<li class="subSm"><a href="http://www.tatango.com/resources/sms-marketing-guide">SMS Marketing Guide</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/sms-marketing-trial-faq">Trial FAQ</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/videos-sms-marketing-101">101 Videos</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/qr-codes-guide">QR Codes Guide</a></li>
						<li class="subSm subtitle">Video Lessons</li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-what-is-sms-marketing">What is SMS Marketing?</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-five-reasons-to-use-tatango">5 Reasons to Use Tatango</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-group-sms">Group SMS</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-stop-sms-messaging">Stopping SMS Campaign</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-sms-marketing-ecosystem">SMS Marketing Ecosystem</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/videos-sms-marketing-getting-started">Getting Started with SMS Marketing</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-tatango-free-trial">Tatango Free Trial</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-where-to-advertise-sms-campaign">Where to advertise your SMS campaign?</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-sms-tatango-reward-message">Using the Tatango Reward Message</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-sms-campaign-frequency">SMS Campaign Frequency</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-perfect-sms-campaign">The Perfect SMS Campaign</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-measuring-sms-advertising">Measuring SMS Advertising</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-tatango-pricing">Tatango Pricing</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-sms-keywords-short-codes">SMS Keywords Short Codes</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-selecting-sms-keywords">Selecting SMS Keywords</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-vanity-random-short-code">Vanity Short Code VS Random Short Code</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-transferring-sms-short-codes">Transferring SMS Short Codes</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-dedicated-shared-short-code">Dedicated Short Code VS Shared Short Code</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-common-sms-keyword-mistakes">Common SMS Keyword Mistakes</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-standard-premium-sms">Standard SMS VS Premium SMS</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-smtp-smpp-messaging">SMTP VS SMPP SMS Messaging</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-click-to-call-sms">Click to Call SMS</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-mms-sms-marketing">SMS Marketing VS MMS Marketing</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-not-receiving-short-codes">Not Receiving Short Code Messages</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-text-in-instructions">Text-In Instructions</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-sms-content-restrictions">SMS Content Restrictions</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/videos-sms-marketing-best-practices">SMS Marketing Best Practices</a></li>
						<li class="subSm"><a href="http://www.tatango.com/resources/video-alcohol-sms-marketing">Best Practices for Alcohol & SMS Marketing</a></li>
					</ul>
				</div>
				<div class="sitemap lastSm">
					<ul>
						<li><a href="http://www.tatango.com/resources/video-sms-marketing-opt-in-requirments">SMS Marketing Opt-In Requirements</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-bait-n-switch">SMS Marketing Bait-n-Switch</a></li>
						<li><a href="http://www.tatango.com/resources/videos-sms-marketing-integrations">SMS Marketing Integrations</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-marketing-groupon">SMS Marketing & Groupon</a></li>
						<li><a href="http://www.tatango.com/resources/video-check-in-services-sms-marketing">SMS Marketing & Check In Services</a></li>
						<li><a href="http://www.tatango.com/resources/video-what-is-qr-code">What is a QR Code?</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-marketing-qr-codes">SMS Marketing & QR Codes</a></li>
						<li><a href="http://www.tatango.com/resources/videos-advanced-sms-marketing">Advances SMS Marketing</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-autoresponders-mass-messaging">Using SMS Autoresponders with Mass Messaging</a></li>
						<li><a href="http://www.tatango.com/resources/video-growing-sms-subscribers">Growing SMS Subscribers</a></li>
						<li><a href="http://www.tatango.com/resources/video-multiple-location-sms-marketing">SMS Marketing for Multiple Locations</a></li>
						<li><a href="http://www.tatango.com/resources/video-mo-mt-sms-messaging">Mobile Originated VS Mobile Terminated SMS Messaging</a></li>
						<li><a href="http://www.tatango.com/resources/videos-industry-specific-sms-marketing">Industry Specific SMS Marketing</a></li>
						<li><a href="http://www.tatango.com/resources/video-apartment-text-messaging">Apartment Management Text Messaging</a></li>
						<li><a href="http://www.tatango.com/resources/video-download-apps-sms">Downloading Apps via SMS</a></li>
						<li><a href="http://www.tatango.com/resources/video-real-estate-text-messaging">Real Estate Text Messaging</a></li>
						<li><a href="http://www.tatango.com/resources/videos-sms-marketing-products">SMS Marketing Products Video Lessons</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-broadcasts">SMS Broadcasts</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-contests">SMS Contests</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-voting">SMS Voting</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-autoresponders">SMS Autoresponder Introduction</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-donations">SMS Donations</a></li>
						<li><a href="http://www.tatango.com/resources/video-mass-texting-autoresponders">Mass Texting Autoresponders</a></li>
						<li><a href="http://www.tatango.com/resources/video-sms-marketing-products">SMS Marketing Products</a></li>
						<li class="subtitle">SMS Marketing Tools</li>
						<li><a href="http://www.tatango.com/resources/sms-qr-code-generator">QR Code Generator</a></li>
						<li><a href="http://www.tatango.com/resources/sms-marketing-flyer-generator">Flyer Generator</a></li>
						<li class="subtitle">Industry</li>
						<li><a href="http://www.tatango.com/resources/sms-marketing-terms">SMS Marketing Terms</a></li>
						<li class="subtitle">FAQ's</li>
						<li><a href="http://www.tatango.com/resources/sms-campaign-setup-faq">Campaign Setup FAQ</a></li>
						<li><a href="http://www.tatango.com/resources/billing-faq">Billing</a></li>
						<li><a href="http://www.tatango.com/resources/sms-messaging-faq">SMS Messaging FAQ</a></li>
						<li><a href="http://www.tatango.com/resources/security-privacy-faq">Security & Privacy FAQ</a></li>
						<li><a href="http://www.tatango.com/resources/sms-subscriber-faq">Subscriber FAQ</a></li>
					</ul>
				</div>
				
			</div>
			<!-- #END of wide content -->
	
<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
