<%
title 'SMS Marketing Newsletter – Confirm'
meta 'Your subscription to the Tatango SMS marketing newsletter has been confirmed. Thank you.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<h1 class="big">SMS Marketing Newsletter</h1>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			
			
				<!-- LEFT CONTENT -->
			<div class="content-left noshadow" style="min-height:340px;padding-top:5px">
			
				<h1>Confirm Subscription</h1>
				<p>Please visit your inbox to confirm your subscription to the Tatango newsletter.</p>
				
			</div>
			<!-- #END of left content -->
