<%
title 'Terms and Conditions'
meta 'Learn more about the Tatango SMS marketing terms and conditions.'
body_class 'wide' 
%>

			<div class="wide-content-intro">
				<h1 class="big">Tatango Terms of Use</h1>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content">
			
				<p>
					The following are the terms and conditions for use of Tatango.com by any user.
				</p>
				<p>
					By clicking on the "ACCEPT" button or accessing and/or using the Tatango.com web site, you agree that you have read, understand and accept all of the terms and conditions below for all use of 
					the Tatango.com services.
				</p>
				<p>
					If you do not agree to these terms and conditions you may not use the Tatango.com website. Any use past the registration page of the Tatango.com website shall automatically bind the user 
					to this agreement. If you do not agree to the terms and conditions OF THIS SERVICE AGREEMENT, OR CANNOT COMPLY WITH THESE TERMS AND CONDITIONS, you SHOULD CLOSE THE BROWSER WINDOW, 
					TERMINATING THE REGISTRATION PROCESS WILLFULLY, AND AGREE TO STOP ALL USE OF THE SERVICE. By registering, you agree to receive messages from the groups you join and will be charged 
					according to your carriers rate plan. Clicking "ACCEPT" indicates you agree to receive these messages.
				</p>
				<p>
					These terms and conditions are a binding and enforceable service agreement against all persons that access any part of the Tatango.com website, and/or place any Tatango products on a website.
				</p>
				
				<div class="wide-title">Interpretations and Definitions</div>
				<p>
					The Tatango.com website encompass both the website located at www.Tatango.com and any page, element or part thereof, as owned and operated by Tatango.
				</p>
				<p>
					Tatango includes the websites Tatango.com, Tatango.com, its subsidiaries, owners and shareholders.
				</p>
				<p>
					User refers to any person or entity who enters or uses the Tatango.com website, notwithstanding the fact that such person only visits the home page of the Tatango.com website.
				</p>
				<p>
					Hyperlinks herein should be deemed to be part of these terms and conditions.
				</p>
				
				<div class="wide-title">Services</div>
				<p>
					The Service consists of a browser interface, message application, SMS gateway access, data encryption, data transmission, data-access and data storage.
				</p>
				<p>
					Tatango makes no guarantees as to the continuous availability of the service or any specific feature(s) of the service. 
					Tatango reserves the right to change or terminate the service and/or alter the terms and conditions of this Agreement at any time with 14 days notice.
				</p>
				<p>
					Messages shall be deemed to have been delivered when Tatango delivers the messages to the immediate destination, including SMTP servers, mobile telephone networks, 
					or any other intermediary server/API that is designated the point of delivery for the message. Tatango does not guarantee delivery on behalf of mobile telephone providers.
				</p>
				<p>
					Tatango makes no guarantees to its network coverage. Tatango provides extensive coverage to the majority of carriers, yet Mobile providers/carriers may opt to not be part of the Tatango network, resulting in undelivered messages.
				</p>
				
				<div class="wide-title">Eligibility</div>
				<p>
					You must be at least 18 years old to be eligible to use any of Tatango services. If you are at least 13 years old but younger then 18, you may use the Tatango services if you have your parents' or guardians' prior permission. No one under age 13 may use the Tatango services under any circumstances. By clicking the "ACCEPT" button you are representing that you are at least 18, or that you are at least 13 years old and have your parents' permission to register for the services.
				</p>
				
				<div class="wide-title">Use of Site</div>
				<p>
					Tatango licenses the User to view, download, save and print the content of the Tatango.com website, provided that such content is used for private, personal, educational and/or non-commercial purposes only or to view, download, save and print this agreement for legal and/or evidential purposes.
				</p>
				<p>
					Content from the Tatango.com website may not be used or exploited by Users for any commercial and non-private purposes without the prior written consent of Tatango.
				</p>
				<p>
					If any User uses content from the Tatango.com website in breach of any part of the Terms and Agreements, the following rights are given.
				</p>
				<ol>
					<li><span>Tatango reserves the right to claim damages from the User;</span></li>
					<li><span>Tatango reserves the right to institute criminal proceedings against the User; and</span></li>
					<li><span>Tatango shall not be liable, in any manner whatsoever, for any damage, loss or liability that resulted from the use of such content by the User or any third party who obtained any content from the User.</span></li>
				</ol>
				<p>
					No person may use or attempt to use any technology or applications (including web crawlers, robots or web spiders) to search, collect or copy content from the Tatango.com website for any purpose whatsoever, without the prior written consent of Tatango.
				</p>
				<p>
					E-mail addresses, names and telephone numbers published on the Tatango.com website may not be incorporated into any database, used for electronic marketing or similar purposes. No permission is given or should be implied that information on the Tatango.com website may be used to communicate unsolicited communications to Tatango.
				</p>
				
				<div class="wide-title">User Account and Password</div>
				<p>
					In order to open an account with Tatango, the user must complete the registration process by providing Tatango with current, complete and accurate information as prompted by the registration page. Inaccurate, false or misleading details will result in suspension. The User will also choose a password with their account name being their group name which is in direct correlation with the users email address provided to Tatango. The User is entirely responsible for maintaining confidentiality with regard to its password and any account information. The User is responsible for all activity, which occurs in their account. Tatango will not be held liable for actions taken with respect to services offered and/or any third party claims.
				</p>
				<p>
					The User agrees to notify Tatango immediately of any breach of security, or any unauthorized use of its account.
				</p>
				
				<div class="wide-title">Security</div>
				<p>
					Tatango shall take all reasonable steps to secure the content of the Tatango.com website and the information provided by and collected from Users from unauthorized access and/or disclosure. However, Tatango does not make any warranties or representations that content shall be 100% safe or secure.
				</p>
				<p>
					Users may not deliver or attempt to deliver, whether on purpose or negligently, any damaging code, such as computer viruses, robots or spyware, to the Tatango.com website or the server and computer network that support the Tatango.com website.
				</p>
				<p>
					Notwithstanding criminal prosecution, any person who delivers or attempts to deliver any damaging code to the Tatango.com website, whether on purpose or negligently, shall, without any limitation, indemnify and hold Tatango harmless against any and all liabilities, damages, risks and losses that Tatango and its partners/affiliates may suffer as a result of such delivery, attempt or damaging code.
				</p>
				<p>
					Users may not develop, distribute or use any device or program designed to breach or overcome the security measures of the restricted pages, products and services on the Tatango.com website and Tatango reserves the right to claim damages from any and all persons involved, directly and indirectly, in the development, use and distribution of such devices or programs.
				</p>
				
				<div class="wide-title">User Privacy</div>
				<p>
					Tatango will not edit, monitor or disclose any personal information about the User or their account which includes its contents, without the User's prior permission unless such action is necessary to: (1) conform to legal requirements or comply with legal orders, (2) defend and protect the property or rights of Tatango, (3) enforce this Service Agreement or protect Tatango business or reputation, (4) respond to request for identification in connection with claim of trademark or copyright infringement by the User (5) or a claim by a third party that a User is using the service in any prohibited manner in the Member Conduct Code.
				</p>
				<p>
					The User agrees that Tatango may access its account, including its contents for reasons above and to attend to technical issues and/or servicing.
				</p>
				<p>
					The user grants Tatango the right to send communication via e-mail and/or text message regarding company notices, updates, upgrades or information Tatango deems important for its users to be notified about regarding the Tatango service.
				</p>
				
				<div class="wide-title">Advertising Guidelines for Users</div>
				<p>
					This section regulates the manner in which the User may advertise/promote any of their products, events and/or services via text messages through the Tatango network.
				</p>
				<p>
					If the User advertises/promotes their products, event and/or services in a manner that violated the specified rule set out below, Tatango will be entitled to suspend and/or terminate a service and/or this agreement.
				</p>
				<p>
					In regards to advertising/promoting products and/or services the user agrees to not (1) use the service in connection with junk SMS messages (spamming or any unsolicited messages), (2) promote or solicit online pharmacies, work at home businesses, credit or finance management, mortgage, debt relief offers, pyramid schemes and/or any form of multi-level marketing, (3) create a false identity mobile phone address or header, or otherwise attempt to mislead others as to the identity of the sender or the origin of the message (4) display, provide, promote, sell or offer to sell products, content and/or service that is unlawful in the location at which the content is posted or received, material that exploits children, or otherwise exploits children under 18 years of age, pornography or illicitly pornographic sexual products, escort services, illegal goods, illegal drugs, illegal drug contraband, pirated computer programs, instructions on how to assemble or otherwise make bombs, grenades or other weapons.
				</p>
				<p>
					The User is not allowed to use the Tatango logo, trademark, slogan or any other intellectual property belonging to Tatango in your advertising without the prior written consent of Tatango.
				</p>
				
				<div class="wide-title">Messages and Storage</div>
				<p>
					Tatango assumes no responsibility/liability for the failure to store information regarding users information, contact list and/or recently transmitted messages. Tatango reserves the right in the future, at its sole discretion, with prior notification to limit the amount of text messages available to each group.
				</p>
				<p>
					Tatango prides itself on the timely delivery of messages, yet messages may be delivered late due to network traffic or queuing, resulting in sometimes late messages.
				</p>
				
				<div class="wide-title">Member Conduct</div>
				<p>
					Any unauthorized commercial use of the Service, is expressly prohibited. The User agrees to abide by all applicable local, national and international laws and regulations and is solely responsible for all acts or omissions that occur under its account or password, including the content of any transmissions through the service. By way of example, and not as a limitation, the User agrees not to:
				</p>
				<ol>
					<li><span>Use the Service in connection with junk SMS messages, (such as promoting or soliciting for online pharmacies, work at home businesses, credit or finance management, 
					mortgage and debt relief offers, pyramid schemes or multi-level marketing (MLM) businesses.) spamming or any unsolicited messages (commercial or otherwise).</span></li>
					<li><span>Harvest or otherwise collect information about others, including email addresses, without their consent;</span></li>
					<li><span>Create a false identity mobile phone address or header, or otherwise attempt to mislead others as to the identity of the sender or the origin of the message;</span></li>
					<li><span>Transmit material through the Service, associate with the Service or publishing with the Service unlawful, grossly offensive, libelous, defamatory, scandalous, threatening, harassing activity, 
					blatant expressions of bigotry, prejudice, racism, hatred, excessive profanity, obscene, lewd, lascivious, filthy, excessively violent or otherwise objectionable content.</span></li>
					<li><span>Transmit any material that may infringe the intellectual property rights of authors, artists, photographers or other rights of third parties, including trademark, copyright without the express written 
					consent of the content owner.</span></li>
					<li><span>Transmit any material that introduces viruses, Trojan horses, worms, time bombs; cancel bots, harmful code or deleterious programs on the Internet.</span></li>
					<li><span>Interfere with or disrupt networks connected to the service or violate the regulations, policies or procedures of such networks.</span></li>
					<li><span>Attempt to gain unauthorized access to the Service, other accounts, computer systems or networks connected to the service, through password mining or any other means.</span></li>
					<li><span>Interfere with another user's use and enjoyment of the Service or another entity's use and enjoyment of similar services.</span></li>
					<li><span>Engage in any other activity that Tatango believes could subject it to criminal liability or civil penalty or judgment.</span></li>
					<li><span>Display, provide, promote, sell or offer to sell the following products or content (or services related to the same): unlawful material/products in the location at which the content is posted or 
					received, material that exploits children, or otherwise exploits children under 18 years of age, pornography or illicitly pornographic sexual products, escort services, illegal goods, illegal drugs, 
					illegal drug contraband, pirated computer programs, instructions on how to assemble or otherwise make bombs, grenades or other weapons.</span></li>
					<li><span>Post or disclose any personally identifying information or private information about children without their consent (or their parents consent in case of a minor).</span></li>
					<li><span>Post any content that advocates promotes or otherwise encourages violence against any government, organization, group or individual.</span></li>
					<li><span>Provide instruction, information or assistance in causing or carrying out violence or harm.</span></li>
				</ol>
				<p>
					In addition, Tatango reserves the right to prohibit the use of Tatango by any company or site in its sole discretion.
				</p>
				
				<div class="wide-title">Code of Conduct</div>
				<p>
					The User warrants that it will comply with the following code of conduct regulated by the Mobile Marketing Association of the United States:<br />
					<a href="http://mmaglobal.com/codeofconduct.pdf">http://mmaglobal.com/codeofconduct.pdf</a>
				</p>
				
				<a name="#monthly-plans" id="monthly-plans"></a>
				<div class="wide-title">Monthly Plans</div>
				<p>
					Our charges for monthly plans are posted on our Website and may be changed from time-to-time. Payments are due for the full month for which any part of the month is included in the "Term." Payments are due for any month on the same date, or the closest date in that month, to the date of the month you signed up with us and made your first monthly payment (the "Pay Date"). For any month for which you have already paid, for which you increase the number of subscribers to an amount that causes you to go to another pricing level, except as otherwise provided in this Agreement, you will be required to pay at the higher level on or before the Pay Date for the following month. If the Term ends before such payment is due, you will still be required to make one payment at the higher level.
				</p>
				<p>
					As long as you are a Member or have an outstanding balance with us, you agree to at all times provide us with valid credit card information and authorize us to deduct the monthly charges against such credit card and to replace the information for any credit card that expires with information on a different valid credit card. Any individual using a credit card represents and warrants that he or she is authorized to use such credit card and that any and all charges may be billed to such credit card and will not be rejected.
				</p>
				<p>
					Tatango reserves the right to change their fee structure with notification to the User of such adjustments in writing, prior to such adjustments. Within this notification period the User may decide to continue with the service and the said increase, or terminate their use of Tatango services.
				</p>
				
				<a name="#termination-policy" id="termination-policy"></a>
				<div class="wide-title">Termination Policy</div>
				<p>
					Pursuant to Section 22 of the EUSA, at any time, either party may terminate Customer's Tatango account for any reason. Customer may request a termination by calling (888) 517-6345, Monday through Friday, between the hours of 9:00 a.m. (PST) and 5:00 p.m. (PST).
				</p>
				<p>
					Amounts paid are not refundable. Subscriptions to our service are pre-paid. As such, any cancellations that occur in the middle of a payment term (month, quarter, or year depending on payment schedule) will be made effective on the final day of such term.
				</p>
				<p>
					Notwithstanding any termination of this Agreement, Customer will remain obligated to pay Tatango Fees which were incurred prior to (and on) the effective date of such termination.
				</p>
				<p>
					<b>Credit Card Expirations or Declines</b><br />
					Please note that allowing a credit card to expire or failing to submit payment by check regardless of invoice receipt status will not automatically cancel your account as we maintain all account data, allow subscriptions to occur, and allow you access to your account. You will remain responsible for paying the monthly subscription fee, which will accrue to your account, until we receive a valid termination notice.
				</p>
				<p>
					We may send notice to the email on record if your credit card is declined. We may also follow-up by phone or mail. We reserve the right to send delinquent accounts to a collection agency if they are not paid within ninety (90) days.
				</p>
				<p>
					<b>Retrieving your Data After your Account has been Terminated</b><br />
					Upon any termination of your account, and your payment of all unpaid and outstanding Fees and your written request received by Tatango within thirty (30) days of such termination, Tatango will provide you with an electronic file of the Customer Recipient Data. You acknowledge that after the thirtieth (30th) day following any such termination, Tatango has no obligation to retain the Customer Recipient Data and may delete and destroy such Customer Recipient Data without providing you with notice of such deletion. If you use the Services during a Trial Period and fail to convert your account to a standard paid customer account upon the expiration or other termination thereof, Tatango has no obligation to retain the Customer Recipient Data after the date of such expiration or termination. Please be sure to export all data you wish to save before terminating your account.
				</p>
				
				<div class="wide-title">Refunds</div>
				<p>
					We are required to provide a refund only if we terminate our Services to you without cause before the end of a month for which you have paid. There is no other circumstance in which you will be entitled to a refund from us. We may, at our sole discretion, offer refunds in other situations subject to any Member seeking such refund applying for the refund in accordance with the requirements we post on the website, which may be changed from time to time.
				</p>
				
				<div class="wide-title">Termination, Cancellation or Suspension by Tatango</div>
				<p>
					Tatango may terminate all or portions of offered services, disable your account or put your account on inactive status. This may happen anytime with or without cause, and with or without notice. Tatango shall have no responsibility or liability to you or any third party because of such action or termination.
				</p>
				<p>
					If your group account is inactive for over 120 days, Tatango has sole discretion and right to permanently remove your account, including contact lists recent messages and any other information stored by Tatango. Tatango will attempt to contact you via the email address you provided us, prior to taking any permanent actions in regards to removal.
				</p>
				<p>
					The User is free to terminate or cancel this Agreement at any time, and for any reason. Any questions concerning the appropriate method by which to cancel this Agreement, should be addressed to the support staff.
				</p>
				<p>
					In the event that Tatango receives complaints from recipients or third parties with respect to the use of the Service, Tatango additionally reserves the right, in its sole discretion, to disclose any and all information to the recipient, applicable authorities or any other party with regard to its clients and application Users.
				</p>
				
				<div class="wide-title">Disclaimers</div>
				<p>
					Tatango is only a venue allowing users to communicate with other users. Tatango does not control, does not monitor and makes no representation regarding the truth, accuracy, quality, completeness, safety or legality of the information provided by its users, groups or channels. Tatango PROVIDES THE SERVICES "AS IS" WITH NO WARRANTIES OF ANY KIND. Tatango EXPRESSLY DISCLAIMS ANY WARRANTY, EXPRESSED OR IMPLIED, REGARDING THE SERVICES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT THE SERVICES WILL BE SECURE, UNINTERRUPTED OR FREE OF ERRORS, VIRUSES OR OTHER HARMFUL COMPONENTS. WE DISCLAIM ALL RESPONSIBILITY FOR OUR USERS, GROUPS AND CHANNELS, AND THEIR POSTINGS, THEIR ACTS AND OMISSIONS.
				</p>
				<p>
					Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.
				</p>
				
				<div class="wide-title">Limitations of Liability</div>
				<p>
					UNDER NO CIRCUMSTANCES WILL Tatango OR ITS EMPLOYEES, OFFICERS OR DIRECTORS BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH USE OF THE SERVICES WHETHER OR NOT Tatango HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
				</p>
				
				<div class="wide-title">Assignment</div>
				<p>
					You may not assign any of your rights or delegate any obligations hereunder, in whole or in part, whether voluntarily or by operation of law, without the prior written consent of Tatango. Any such assignment or delegation by you without the appropriate prior written consent of Tatango will be null and void and of no force or effect.
				</p>
				
				<div class="wide-title">Additional Limitations</div>
				<p>
					Without limiting the generality of the terms set forth, Tatango and its affiliates, agents, content providers, service providers, and licensors:
				</p>
				<ol>
					<li><span>HEREBY DISCLAIM ALL EXPRESS AND IMPLIED WARRANTIES AS TO THE ACCURACY, COMPLETENESS, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR PARTICULAR PURPOSE OF Tatango GENERALLY, 
					AND ANY CONTENT OR SERVICES CONTAINED THEREIN, AS WELL AS ALL EXPRESS AND IMPLIED WARRANTIES THAT THE OPER ATION OF Tatango GENERALLY AND ANY CONTENT OR SERVICES CONTAINED THEREIN WILL 
					BE UNINTERRUPTED OR ERROR-FREE;</span></li>
					<li><span>SHALL IN NO EVENT BE LIABLE TO The USER OR ANYONE ELSE FOR ANY INACCURACY, ERROR OR OMISSION IN, OR LOSS, INJURY OR DAMAGE CAUSED IN WHOLE OR IN PART BY FAILURES, DELAYS OR INTERRUPTIONS 
					OF THE SERVICE GENERALLY OR IN ANY ASPECT.</span></li>
				</ol>
				
				<div class="wide-title">Indemnification</div>
				<p>
					The User agrees to indemnify, defend and hold harmless Tatango and its employees, affiliates, officers, agents, content providers and service providers, against any and all claims, liabilities, damages, costs and expenses (including, but not limited to, consequential damages, incidental damages, special damages, attorneys' fees and disbursements) arising from or relating to (1) the use of the Service in any manner which violates the terms of this Service Agreement 2) any violation or failure by you to comply with all laws and regulations in connection with the Services (4) any content that you or anyone using your account may submit, post or transmit to the web site (3) any claims made by third parties arising from your use of the Service, including without limitation any and regulation all third party claims arising from or related to any failure, delay or interruption to the Service. The User agrees to cooperate as fully as reasonably required in the defense of any claim. Tatango reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by the User.
				</p>
				
				<div class="wide-title">Modifications to Terms and Conditions</div>
				<p>
					Tatango frequently updates, modifies, and otherwise continually seeks to improve the Tatango services. Tatango shall have the right to change, modify and/or update the terms of this Agreement and to change or discontinue any aspect or feature of the Tatango service, in either case, as it deems reasonably necessary. The amended Terms and Conditions shall automatically be effective five days after they are initially posted on the web site. Your continued use of the Services after the effective date of any posted change constitutes your acceptance of the amended Terms and Conditions as modified by the posted changes. For this reason, we encourage you to review these Terms and Conditions whenever you use the Services.
				</p>
				
			</div>
			<!-- #END of wide content -->
	
<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
