<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= params[:url].titlecase %> | Tatango</title>
  <meta name="robots" content="noindex">
	<%= stylesheet_link_tag 'style' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>
<body>
 <div style="margin: 0 auto; position:relative; width: 990px;">
  <div style="height: 63px; padding: 30px 5px 0; width: 261px;">
    <img alt="Tatango Text Message Marketing" src="<%= asset_path 'tatango-logo.png' %>" />
  </div>
  <br />
  <br />

  <div style="margin: 0 auto; position: relative; width: 100%; text-align: center;">
    <div style="position:relative;width:640px;height:460px;left:200px;overflow:hidden;"><div class="wistia-post-roll" style="position:absolute;left:-640px;width:640px;height:360px;background:#444;text-align:center;z-index:1000;"><div style="position:relative;line-height:360px;"><a href="https://www.tatango.com/login" style="width:640px;height:360px;position:relative;font-size:2.5em;color:white;font-family:arial;">Login to your Tatango account</a></div></div>
    <%
    case params[:url]
    when 'perfect-sms' %>
      <object width="640" height="360" id="wistia_536654" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/0f76565f9644fcf8ec6ba4685f9ae2dea4b5b113.bin&stillUrl=http://embed.wistia.com/deliveries/fd160af3a921d5bc613c2563889da538214d1503.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536654&mediaDuration=233.7&hdUrl=http://embed.wistia.com/deliveries/bcb0833082d3c8e1528a7b8cd4ca704cb5e9cfea.bin"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_536654" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/0f76565f9644fcf8ec6ba4685f9ae2dea4b5b113.bin&stillUrl=http://embed.wistia.com/deliveries/fd160af3a921d5bc613c2563889da538214d1503.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536654&mediaDuration=233.7&hdUrl=http://embed.wistia.com/deliveries/bcb0833082d3c8e1528a7b8cd4ca704cb5e9cfea.bin"></embed></object><script src="http://embed.wistia.com/embeds/v.js" charset="ISO-8859-1"></script><script>if(!navigator.mimeTypes['application/x-shockwave-flash'] || navigator.userAgent.match(/Android/i)!==null)Wistia.VideoEmbed('wistia_536654',640,360,{videoUrl:'http://embed.wistia.com/deliveries/fd82f4a852005d88ede70998861d26e2f3d093c4.bin',stillUrl:'http://embed.wistia.com/deliveries/fd160af3a921d5bc613c2563889da538214d1503.bin',distilleryUrl:'http://distillery.wistia.com/x',accountKey:'wistia-production_7884',mediaId:'wistia-production_536654',mediaDuration:233.7})</script>
      <h2>The Perfect Text Message</h2>
    <%
    when 'advertise-campaign'
    %>
      <object width="640" height="360" id="wistia_536675" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/5ee5f14205a2170d9022356d5f6d675ee303b765.bin&stillUrl=http://embed.wistia.com/deliveries/8f2dce9634fa816573c4c5e4b1795436881dfdbb.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536675&mediaDuration=260.13&hdUrl=http://embed.wistia.com/deliveries/2af1c3aae865fcaf4e10676653f37e51ad042200.bin&endVideoCallback=wistiaPostRoll"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_536675" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/5ee5f14205a2170d9022356d5f6d675ee303b765.bin&stillUrl=http://embed.wistia.com/deliveries/8f2dce9634fa816573c4c5e4b1795436881dfdbb.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536675&mediaDuration=260.13&hdUrl=http://embed.wistia.com/deliveries/2af1c3aae865fcaf4e10676653f37e51ad042200.bin&endVideoCallback=wistiaPostRoll"></embed></object>
      <h2>Advertising Your SMS Campaign</h2>
    <%
    when 'how-often'
    %>
      <object width="640" height="360" id="wistia_536685" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/01f589e47bb2eec6ff2a747367054eab8584dd5d.bin&stillUrl=http://embed.wistia.com/deliveries/bedb86fa3c55579bcac7a7ef2ac3698ace3a5f96.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536685&mediaDuration=188.59&hdUrl=http://embed.wistia.com/deliveries/c3c3cace4bc05af3679dac24f04739d353ef2a20.bin&endVideoCallback=wistiaPostRoll"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_536685" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/01f589e47bb2eec6ff2a747367054eab8584dd5d.bin&stillUrl=http://embed.wistia.com/deliveries/bedb86fa3c55579bcac7a7ef2ac3698ace3a5f96.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536685&mediaDuration=188.59&hdUrl=http://embed.wistia.com/deliveries/c3c3cace4bc05af3679dac24f04739d353ef2a20.bin&endVideoCallback=wistiaPostRoll"></embed></object>
      <h2>How Often to Send Text Messages</h2>
    <%
    when 'where-to-advertise'
    %>
      <object width="640" height="360" id="wistia_536714" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/625d668e7ec2198866cb84cacd1abcae85629d83.bin&stillUrl=http://embed.wistia.com/deliveries/529850e7f4c6afdcf8b8cf99ff3c37dc73ce3331.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536714&mediaDuration=182.72&hdUrl=http://embed.wistia.com/deliveries/95909861145f7aa0daaf8c580a40978b8cffe33b.bin&endVideoCallback=wistiaPostRoll"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_536714" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/625d668e7ec2198866cb84cacd1abcae85629d83.bin&stillUrl=http://embed.wistia.com/deliveries/529850e7f4c6afdcf8b8cf99ff3c37dc73ce3331.bin&unbufferedSeek=true&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_7884&mediaID=wistia-production_536714&mediaDuration=182.72&hdUrl=http://embed.wistia.com/deliveries/95909861145f7aa0daaf8c580a40978b8cffe33b.bin&endVideoCallback=wistiaPostRoll"></embed></object>
      <h2>Where To Advertise Your SMS Campaign</h2>
    <%
    end
    %></div>
    <script type="text/javascript">
    //<!CDATA[
    jQuery.noConflict();(function($) {window.wistiaPostRoll = function() { $(".wistia-post-roll").animate({ left: 0 }, 1000, "swing"); };$("[id^=wistia_59]").filter("[id$=html5]").bind("ended", wistiaPostRoll);}(jQuery));
    //]]>
    </script>
  </div>

 </div>
</body>
</html>
