<div class="left-menu-wrap-admin">
  <ul class="left-menu-admin">
    <%= menu_item 'Overview', list_path(@list), :id => 'overview' %>
    <%= menu_item 'Send Message', new_list_message_path(@list), :id => 'sendmessage' %>
    <%= menu_item 'Subscribers', list_memberships_path(@list), :id => 'subscribers' %>
    <%= menu_item 'Sent Messages', list_messages_path(@list), :id => 'sentmessages' %>
  </ul>
  <div class="left-menu-btm-admin"></div>
</div>
