<p>Congrats! You just had someone text <%= @autoresponder.resolved_name %> to 68398 on their mobile phone and receive your SMS Autoresponder.</p>

<br />
Mobile Phone Number: <%= PhoneNumber.new(@number).to_formatted_s %><br />
</p>

<p>It feels good to be loved.</p>
