<p>Thanks for signing up for your Tatango free trial account.</p>

<p>Click the link below to confirm your email address. Once your email is confirmed, you can finish creating your free trial account.</p>

<p class="bold"><%= link_to 'Click here to complete your signup', signup_claim_url(:confirmation => @account.confirmation) %></p>
