<p>Congrats! You just had someone text <%= @poll.resolved_name %> to 68398 on their mobile phone and vote in your SMS Poll.</p>

<br />
Mobile Phone Number: <%= PhoneNumber.new(@number).to_formatted_s %><br />
</p>

<p>It feels good to be loved.</p>
