<p>Someone has requested to reset the password for the Tatango username: <b><%= @account.username %></b></p>

<p>To reset your password, click on the following link, or copy and paste it into your browser: <%= reset_password_session_url(@account.reset_password) %></p>

<p>For security, this link will expire in 24 hours.</p>

<p>Ignore this email to leave the password unchanged.</p>
