<p>Welcome to Tatango!</p>

<p>Here are the details for your new Tatango account:</p>

<p>Username: <%= @account.username %><br />
Password: [hidden for security]</p>

<p>If you have any questions, please don't hesitate to reply to this email - we're here to help!</p>

<p>Thank you for choosing Tatango!</p>
