<div style="padding-top:20px;">
				
					
	<div align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#660000;height:18px;
	text-align:center; padding-top:100px; padding-left:20px; padding-right:20px;"> 
	<div><h3>Welcome <%= user_name(@user.id)%>! Your account has been created.</h3></div>
	<div>&nbsp;</div>	
	<div>Please Sign In to access your account.</div>
	
	</div>
				
				
					
							
							<div style="clear:both;"></div>
		
				</div>