<div style="padding-top:20px;">
				
					
				<div align="center" class="myworldtext">All information will be displayed in your My World profile</div>
				
				<div align="center"><img src="/images/home/map11.jpg" alt="" /></div>
					
							
							<div style="clear:both;"></div>
		
				</div>