<Template name="privacy_check_list">
  <div class="privacy-check-list">
    <div class="checkbox">
      <label class="check-item" data-privacy-type="read"></label>
      <label class="text">READ</label>
    </div>
    <div class="checkbox">
      <label class="check-item" data-privacy-type="write"></label>
      <label class="text">WRITE</label>
    </div>
    <div class="checkbox">
      <label class="check-item" data-privacy-type="upload"></label>
      <label class="text">UPLOAD</label>
    </div>
  </div>
</Template>
