<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
</head>

<body>
<form action="show" method="post">
Enter Address Here : <input type="text" id="address" name="address" /> &nbsp; &nbsp; 
<input type="submit" name="submit" value="Submit" />
</form>
<br /> <br />

</body>
</html>