<div class="main_foot">
    <div id="footer">
      <div style="width:720px;" class="footerlinks" align="center"> 
	  
	  <div class="dec_foot">
	  <a href="http://uncharted.net" class="footerlinks1">Home</a>&nbsp; | <a href="http://unchartedblog.blogspot.com" target="_blank" class="footerlinks1">Blog</a> &nbsp; | <%= link_to "Contact Us",{:controller => '/account',:action => 'contact_us'}, {:class => "footerlinks1"} %>  &nbsp; | <!--<a href="http://uncharted.net/legal.php" target="_blank" class="footerlinks1">Legal</a> &nbsp; &nbsp; &nbsp;-->  <!--<a href="" target="_blank" class="footerlinks1">Privacy Policy</a> &nbsp; &nbsp; &nbsp; --><!-- <a href="http://greatdividemedia.com/account/register" class="footerlinks1">--><%= link_to "Terms of Use",{:controller => '/account',:action => 'register',:value => 'terms'}, {:class => "footerlinks1",:target=>'_blank'} %> &nbsp;   <!--<a href="http://uncharted.net/honorcode.php" target="_blank" class="footerlinks1">Honor Code</a>--></div>
        <div class="foot_link">Copyright &copy;  2008 Uncharted&trade; Great Divide Media LLC All Rights Reserved </div>
      </div>
    </div>
  </div>